@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* main section style */
.contact_section {
    margin-top: 15vh;
    margin-bottom: 15vh;
    text-align: center;
}
/* icons style */
.single_address {
    overflow: hidden;
    margin-left: 20px;
}

.single_address i {
    background: #f6f6f6;
    color: #FF6F03;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    margin-right: 14px;
    font-size: 22px;
    margin-bottom: 37px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single_address:hover i {
    background: #FF6F03;
    color: #fff;
}

.single_address h4 {
    font-size: 18px;
    margin-bottom: 0px;
    overflow: hidden;
    font-weight: 600;
}
.single_address p {
    overflow: hidden;
    margin-top: 5px;
}
.icons {
    text-align: left;
    width: 100%;
    margin-right: 20rem;
}
.icons_section{
    margin-top: 15vh;
    
}
/* inline block divs */
.icons_section,
.contact_form {
    display: inline-block;
    vertical-align: top;
}

/* form style  */
form{
    width: 100%;
}
.contact_form{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 30%;
    }
input,.button,textarea {
    height: 50px;
    width: 60vh;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
}
input,textarea{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
input:focus {
    border-bottom-width: 2px;
}
textarea:focus {
    border-bottom-width: 2px;
}
textarea{
    border-radius: 25px;   
     height: 30vh;
    padding: 20px;
}
.button {
    color: #fff;
    background-color: #FF6F03;
    cursor: pointer;
}

.button:hover {
    background-color: #016dcb;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 768px) {
    .icons {
        margin-right: 0;
        margin-left: 0;
        margin-top: -10vh;
    }

    .contact_form {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 20px;
    }
 

    input,
    .button,
    textarea {
        width: 100%;
    }
}
@media only screen and (max-width: 1100px) {
    .icons {
        margin-right: 10vh;
        margin-left: -12vh;
        
    }
   

}
form p {
    padding: 0 15px;
    color: rgb(219, 4, 4);
    font-size: 13px;
    font-weight: 600;
}