@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #e0e2e9;
}


.logo {
    width: 150px;
    height: auto;
}
.offcanvas-body{
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;
}
.mainNavLogo{
width: 180px;
height: auto;
margin-left: 50px;
}

.dropdown-menu{
  padding-left: 20px;
}
.site-footer {
       
       left: 0;
       bottom: 0;
       width: 100%;
        font-weight: 600;
        color: #232836;    
       text-align: center;
   }
   .site-footer .social-icons {
       text-align: right
   }

   .site-footer .social-icons a {
       width: 40px;
       height: 40px;
       margin-left: 6px;
       margin-right: 0;    
   }
   .copyright-text {
     margin-top: 10px;
   }

  

   @media (max-width:767px) {
       .site-footer {
           padding-bottom: 0
       }
       .site-footer .copyright-text,
       .site-footer .social-icons {
           text-align: center
       }
   }

   .social-icons {
       padding-left: 0;
       margin-bottom: 0;
       list-style: none;  
   }

   .social-icons li {
       display: inline-block; 
   }


   .social-icons a {
       display: inline-block; 
       text-align: center;
       margin-right: 8px;       
   }

.social-icons img{
    width: 44px;

}
.github img{
    width: 40px;
}


   @media (max-width:767px) {
       .social-icons li.title {
           display: block;
           margin-right: 0;
           font-weight: 600
       }
   }


.cover-text {   
  
    max-width: 700px;
    margin-right: auto;
    margin-top: 18vh;
    padding-left: 70px;
    
}
.cover-container {
    display: flex;
    height: 100vh;
    background-color: white;
    padding: 1em;
}

.cover-container .cover-text {
    max-width: 700px;
    margin-left: auto;
    margin-top: 18vh;
}

.cover-container .container {
    background-image: url('../assets/home_img.png');
    background-position: right;
    height: 100%;
    flex: 1;
    background-size: cover;
}
.cover-text h1 {
    font-size: 5rem;
    color: #000033;
    font-weight: bolder;

}
.cover-text p {
    font-size: 1.5rem;
    color: #000022;
    padding-top: 15px;
    padding-bottom: 10px;


}

.btn-primary {
    font-size: 1.5rem;
    background-color: #FF6F03;
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: 0.4s ease-in-out;

    padding: 15px 30px;
}

.btn-primary:hover {
    background-color: #000022;
}

   @keyframes slideIn {
       from {
           opacity: 0;
           transform: translateY(-50px);
       }

       to {
           opacity: 1;
           transform: translateY(0);
       }
   }
   .cover-container {
       animation: slideIn 1.5s ease-in-out;
   }




@media (max-width: 1320px) {
    .cover-container {
        flex-direction: column-reverse;
        align-items: center;     
               
    }
    .cover-container .cover-text {
        text-align: center;
        margin: 0;
        padding: 0;  
      
    }
        .cover-text h1{
            font-size: 3.5em;
        }
    .cover-container .container {
        margin-top: 50px;
        background-position: center;
        width: 50%;
       
    }
        .btn-primary{
            margin-bottom: 2em;
        }
}

   @media (max-width:767px) {
       .social-icons li.title {
           display: block;
           margin-right: 0;
           font-weight: 600
       }
   }





.main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15vh;
}

.ebook-card {
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    width: 320px;
    display: flex;
    flex-direction:column;
    
}

.ebook-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    aspect-ratio: 1;
}

.ebook-card h2 {
    font-size: 1.5rem;
    color: #000033;
    font-weight: bold;
    margin: 10px 0;
}

.ebook-card p {
    font-size: 1rem;
    color: #000022;
    margin: 0;
}

.ebook-card a {
    display: block;
    font-size: 1rem;
    margin-top: auto;
    text-decoration: none;
    color: #333;
    background-color: #28A745;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bolder;
    
}
.ebook-card i{
    margin-left: 10px;
    font-size: 20px;
}

.ebook-card a:hover {
    transition: 1s ease-in-out;
    
}

#searchButton{
    margin-right: 10px;
        border-radius: 50px;
        background-color: #FF6F03;
        color: white;
        font-weight: bold;

}

