body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e2e9;
}


.logo {
    width: 150px;
    height: auto;
}
.offcanvas-body{
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;
}
.mainNavLogo{
width: 220px;
height: auto;
margin-left: 50px;
}