/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerL{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e2e9;
    column-gap: 30px;
    
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.field input,
.field .button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
   
    
}

.field input:focus{
    border-bottom-width: 2px;
}
.gender{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #232836;
}
.gender input{
    margin-left: 15px;
   
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field .button{
    color: #fff;
    background-color: #FF6F03;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field .button:hover{
    background-color: #016dcb;
    transition: 1.2s;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}

p{
padding: 0 15px;
color: rgb(219, 4, 4);
font-size: 13px;
font-weight: 600;
}

.birth{
    padding: 0 15px;
    font-size: 15px;
    font-weight: 600;
}
.dateBirth{
    padding-bottom:27px;
    
}
